@import "tailwindcss";


html, body {
  background-color: #0b0f0c; 
  color: white;
}


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-9px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}
